<html lang = "en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>
       
        <div class="about content">
            <h2>About us</h2>
            <img src="/images/anu1.jpeg" alt="My image">
            <p>Because it makes up so many critical parts of our bodies, collagen is not only beneficial but also essential for maintaining good health. But scientists are still debating the benefits of collagen powder and other collagen supplements. While there's reasonable evidence that they help maintain hydrated skin and relieve osteoarthritis pain, we need more studies into less well-understood benefits, such as lowering blood pressure and blood sugar levels.</p>
            <br>
            <p>Because it makes up so many critical parts of our bodies, collagen is not only beneficial but also essential for maintaining good health. But scientists are still debating the benefits of collagen powder and other collagen supplements. While there's reasonable evidence that they help maintain hydrated skin and relieve osteoarthritis pain, we need more studies into less well-understood benefits, such as lowering blood pressure and blood sugar levels.</p>
            <br>
            <p>Because it makes up so many critical parts of our bodies, collagen is not only beneficial but also essential for maintaining good health. But scientists are still debating the benefits of collagen powder and other collagen supplements. While there's reasonable evidence that they help maintain hydrated skin and relieve osteoarthritis pain, we need more studies into less well-understood benefits, such as lowering blood pressure and blood sugar levels.</p>
        </div>  
        <%- include('./partials/footer.ejs') %> 

     </body>
</html>